html {
    font-family: 'Georama', sans-serif;
}
#loginForm{
    width : 25%;
}

#loginFormWrapper{
    background-color: cadetblue;
    width : 100%;
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotelData {
 display :flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

}
#nameFont{
    height : 25px;
    font-family: 'Georama', sans-serif;
    font-size: 1.5625rem;
    color :rgb(23, 95, 202);
    font-weight:700 ;
    cursor: pointer;
}
#descriptionFonts{
    height : 6.25%;
    font-family: 'Georama', sans-serif;
    font-size: 1rem;
    color :rgb(0, 0, 0);
    font-weight:100   ;
}

#hotelID{
    height :12.5em;
    border :0.125% solid gray;
    margin: 1.25%;
    box-shadow:10px 10px 50px lightskyblue;  
}

.nav-wrapper{
    margin: 1.25%;
    box-shadow:10px 10px 50px lightskyblue;  
    display: flex;
    justify-content: center;
    align-items: center;
}
#priceID{
    font-size: 1.25em;
    color :rgb(23, 95, 202);
    font-weight:600 ;
    
}

.profileIcon{
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.profileWrapper{
    display: flex;
    color: white;
    align-items: center;
    
}

.navBarStyle {
    padding-inline-start: 30px;
    padding-inline-end:40px;
}

.bookedHotel-form-Wrapper {
 margin-left: auto;
 margin-right: auto;
 
}

.bookedHotel-name-Wrapper{
    font-size: 50px;
    height : 50px;
    
}

.bookedHotel-Form {
    box-shadow:10px 10px 50px lightskyblue;  
}

.inputContainer{
    padding : 10px;
}

.wrapper{
    position: absolute;
    left : 50%;
    top : 5%;
    box-shadow:10px 10px 50px rgb(184, 150, 101); 
    border-radius: 10px; 
    z-index: 1;
}

.homeButtons {
    margin : 10px;
    background-color: black;
    border : 1px solid white;
    color :white
}

.homeButtons:hover {
    background-color: rgb(184, 150, 101); 
}

.welcomeNote {
    color :white;
    margin: 10px;
    font-size: 20px;
    font-weight: 400;
}

.homeImage-wrapper{
    height: 100vh;
    width: 100%;

}

.loginImage-wrapper{
    height: 100vh;
    width: 100%;
    filter : blur(4px)
}

.login-form{
    position : absolute;
    z-index: 1;
    padding: 10px;
}

.login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-label{
    padding-left: 0px;
    font-size: 1.5rem;
    color: white;
}

.login-buttons {
    padding: 16px;
    display: flex;
    justify-content :space-around;
    align-items: center;
}

.signIn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signIn-label{
    padding-left: 0px;
    color: white;
}

.signIn-form{
    position : absolute;
    z-index: 1;
    width: max-content;
}
.errors-class{
    font-size: 1rem;
    background-color: rgb(255, 0, 0);
    color:white;
    font-weight: 500;
}

.signin-link{
    color : white;
    cursor: pointer;
    font-size: medium;
}

.signin-link:hover {
    color : white;
    font-size: large;
}

.profile-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position : absolute;
    color: white;
    font-size :1.2rem;
    box-shadow:10px 10px 50px rgb(184, 150, 101); 
    border-radius: 20px;
    font-weight: 400;
}

.profile-wrapperOutside{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.profileImage-wrapper{
    height: 90vh;
    width: 100%;
    filter : blur(4px)
}

.bookedHotel-label{
    padding : 10px;
    width : 200px;
}

.bookedHotel-button{
    width: 150px ;
}

.bookedHotel-button:hover{
    background-color: green;
}

.payment-font{
    color: green;
}
.card-Wrapper { 
    border : 1px solid black;
    padding: 10PX;
    width : 300px;
}
.insideCard{
    display: flex;
}

.insideCard-cvv {
    width: 100px;
}

.insideCard-expDate {
    width: 60px;
    margin: 5px;
}

.payment-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-WrapperInside{
    border : 2px solid green;
    padding: 50px;
    margin: 20px;
}

.payment-button-wrapper{
margin-top: 1rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paymentSuccess-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.payment-success{
    height: 90vh;
    width: 100%;
    background-color: khaki;
}

.paymentSuccess-insideWrapper{
    margin-top: 100px;
    padding: 10px;
    background-color: rgb(88, 168, 88);
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paymentSuccess-font{
    color: honeydew;
    font-size: large;
}

.pagination{
    margin: 0px;
}

.bookedHotel-wrapper{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-size :1.2rem;
    box-shadow:10px 10px 50px lightskyblue;  
    border-radius: 20px;
    font-weight: 400;
    padding: 20px;
}

.bookedHotel-wrapperOutside{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.profileImage-wrapper{
    height: 90vh;
    width: 100%;
    filter : blur(4px)
}

.bookingButton-wrapper{
    display: flex;
    justify-content: center;
    padding: 20px
}

.displayImage{
    cursor: pointer;
}

.hotelSucess-bar{
    display: flex;
    justify-content: center;
}

.hotelSucess-message{
    font-size: large;
    font-weight: 700;
    color: green;
    align-items: center;
}

.hotelAdd-header{
    padding: 20px;
    text-align: center;
    color: green;
}

.hotelAdd-buttonWrapper{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.dropdown-item{
    cursor: pointer;
}

.dropdown-item:hover{
    background-color: lightskyblue;
}

.paginationList{
    cursor: pointer;
}

.forbidden-wrapper{
    height: 100vh;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forbidden-header{
    color: rgb(185, 12, 12);
    font-weight: 900;
    font-size: 5rem;
}

.forbidden-text{
    color: white;
}