.flexMiddle {
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
}

.hotelNameFont {
    font-family: 'Georama', sans-serif;
    font-size: 2rem;
    color :rgb(23, 95, 202);
    font-weight:900 ;
    cursor: pointer;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fonts{
    font-size: 1.2rem;
}
.descriptionFont {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.material-icons-outlined{
    font-size: 1.2rem;
}

.border-style {
    padding: 0.8rem;
    box-shadow:10px 10px 20px lightskyblue;  
}


.main-container {
    padding :3rem;

    
}
#main_Row{
    height :34.2rem;
}