.loginWrapper{
  height: 100vh;
  width: 100%;
  background-color:lightcyan;     
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm{
  padding: 10px;
  border : 2px solid black;
  background-color: aqua;
}

#signinForm{
  background-color: aqua;
  padding: 9%;
  border: 2px solid lightgreen;
}

#signinWrapper{
  height: 100vh;
  width: 100%;
  background-color:lightcyan;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.homeWrapper{
  height: 100vh;
  width: 100%;
  background-color:lightcyan;
}

.signInClass{
  display: flex;
  justify-content: center;
}
 button{
   width: 100px;
   height: 30px;
   border-radius: 10px;
   background-color: lemonchiffon;
 }